<#include "_layout.html"/>
<@layout>
<section id="error-page">
    <div class="text-center">
        <div class="bg-404">
            <div class="error-image">
                <img class="img-responsive" src="${CTPATH}/images/404.png" alt="">
            </div>
        </div>
        <!--<h2>404</h2>-->
        <!--<p>你正在寻找的页面可能已经删除、更名。</p>-->
        <a href="${CPATH}/" class="btn btn-error">返回首页</a>
        <div class="social-link">
            <span><a href="#"><i class="fa fa-qq"></i></a></span>
            <span><a href="#"><i class="fa fa-wechat"></i></a></span>
            <span><a href="#"><i class="fa fa-weibo"></i></a></span>
        </div>
    </div>
</section>
</@layout>
