<#include "_layout.html"/>
<@layout>
<section id="map-section">
    <div class="container">
        <div id="gmap"></div>
        <div class="contact-info">
            <h2>联系</h2>
            <address>
                E-mail: <a href="mailto:panzisupport@foxmail.com">panzisupport@foxmail.com</a> <br>
            </address>

            <h2>地址</h2>
            <address>
                中国广东省深圳市 <br>
            </address>
            <h2>简介</h2>
            <address>
                盘子酱 <br>
            </address>
        </div>
    </div>
</section> <!--/#map-section-->
</@layout>
