<#include "_layout.html"/>
<@layout>
<section id="map-section">
    <div class="container">
        <div id="gmap"></div>
        <div class="contact-info">
            <h2>联系</h2>
            <!--<address>-->
                <!--E-mail: <a href="mailto:panzisupport@foxmail.com">panzisupport@foxmail.com</a> <br>-->
            <!--</address>-->
            <address>
                QQ: <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=5f0eeb1dca0d135584f0400e6b0707725f2e16fe638695691bd1ba2aff87f603">145675390</a><br>
            </address>
            <address>
                E-mail: <a href="mailto:panzisupport@foxmail.com">panzisupport@foxmail.com</a> <br>
            </address>

            <h2>地址</h2>
            <address>
                中国广东省深圳市 <br>
            </address>
        </div>
    </div>
</section> <!--/#map-section-->
</@layout>
