<#include "_layout.html"/> <@layout>
<div class="container">
    <div class="col-md-9 col-sm-7">
	<@jp.searchResultPage pageSize="10" >
		为您找到关键字 “${keyword!}” 的相关文章如下：
		<#list page.getList() as bean>
				<div class="post-content overflow">
					<h2 class="post-title bold"><a href="${bean.url}">${bean.title}</a></h2>
					<h3 class="post-author"><a href="#">${bean.description!}</a></h3>
					<a href="${bean.url}" class="read-more">查看更多</a>
				</div>
				<div class="post-bottom overflow"></div>
		</#list>
		<div class="portfolio-pagination">
			<ul class="pagination">
				<@pagination>
				<#list pages as page>
					<li class="${page.style!}"><a href="${page.url!}">${page.text!}</a></li>
				</#list>
			</@pagination>
			</ul>
		</div>
		</@jp.searchResultPage>
	</div>
<div class="col-md-3 col-sm-5">
	<#include "_ad_box.html"/>
	<#include "_content_box1.html"/>
	<#include "_content_box2.html"/>
	<#include "_tags_box.html"/>
</div>
</div>
</div>
</@layout>
