<#include "_layout.html"/>
<@layout>
<div class="container margin-bottom">
<div class="col-sm-4">
	<h2>用户登录</h2>
	<form method="post"  action="${CPATH}/user/login">
        <input type="hidden" name="goto" value="${goto!}">
		<div class="form-group">
			<input type="text" name="username" class="form-control" required="required" placeholder="用户名">
		</div>
		<div class="form-group">
			<input type="password" name="password" class="form-control" required="required" placeholder="密码">
		</div>
		<!--<div class="form-group">-->
			<!--<textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your text here"></textarea>-->
		<!--</div>-->
		<div class="form-group">
			<input type="submit" class="btn btn-submit" value="登陆">
			<a href="${CPATH}/user/register?goto=${goto!}"><input class="btn btn-submit" value="注册"></a>
		</div>
	</form>
</div>
</div>

<!--<div class="x-pc-width clearfix x-margin-top-20 x-margin-bottom-120">-->
	<!--&lt;!&ndash; &ndash;&gt;-->
		<!--<div class="x-white-box">-->
			<!--<h3 class="x-box-title">-->
				<!--用户登录-->
				<!--<span class="x-title-border"></span>-->
			<!--</h3>-->
			<!--<form action="${CPATH}/user/login" method="post">-->
			<!--<input type="hidden" name="goto" value="${goto!}">-->
			<!--<div class="clearfix login-box">-->
				<!--<p class="x-pull-left x-layout-20 login-box-title">用户名：</p>-->
				<!--<p class="x-pull-left x-layout-80"><input type="text" name="username"> <span class="login-tip">还没有账号？点击<a href="${CPATH}/user/register?goto=${goto!}"> 这里 </a>注册</span></p>-->
			<!--</div>-->
			<!--<div class="clearfix login-box">-->
				<!--<p class="x-pull-left x-layout-20 login-box-title">密码：</p>-->
				<!--<p class="x-pull-left x-layout-80"><input type="password" name="password"></p>-->
			<!--</div>-->
			<!--<div class="clearfix login-button-box">-->
				<!--<input type="submit" value="登录">-->
			<!--</div>-->
			<!--</form>-->
			<!--<div class=" login-button-box">-->
				<!--<p><img src="${CTPATH}/assets/images/qq.jpg"> <a href="${CPATH}/oauth/qq?goto=${goto!}">QQ登录</a></p>-->
				<!--<p><img src="${CTPATH}/assets/images/oschina.jpg"> <a href="${CPATH}/oauth/oschina?goto=${goto!}">OSCHINA登录</a></p>-->
			<!--</div>-->
		<!--</div>-->
<!--</div>-->
</@layout>
